.map-container {
    height: 100vh; /* Adjust height as needed */
    width: 100vw;
  }
  
.camera-component{
     
}
.camera-btn{
    background-color: #222831;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
}